# .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
*.swp
appsettings.Development.json.bak

# EF Core
*.db
*.db-journal
*.sqlite
*.sqlite-journal

# Node
node_modules/
dist/
dist-ssr/
.vite/
*.local

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local
